meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")

meta(name="description", content="#{App.getSiteSlogan()}")
meta(name="author", content="bvn13")

link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
link(rel="icon", href="/favicon.ico", type="image/x-icon")

title #{App.getSiteName()}

link(rel='stylesheet', type='text/css', href='/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css')
link(rel='stylesheet', type='text/css', href='/webjars/font-awesome/4.7.0/css/font-awesome.min.css')
link(rel="stylesheet", type='text/css', href="/css/admin/admin.css")
link(rel="stylesheet", href="/vendors/simditor-2.3.6/styles/simditor.css")
link(rel="stylesheet", href="/vendors/simditor-markdown/styles/simditor-markdown.css")

script(src="/webjars/jquery/3.2.1/jquery.min.js")
script(src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js")
script(src="/vendors/bootstrap-paginator-1.0.2/js/bootstrap-paginator.min.js")
script(src="/vendors/marked-0.3.6/marked.min.js")
script(src="/vendors/to-markdown-3.1.0/dist/to-markdown.js")

script(src="/vendors/simditor-2.3.6/scripts/module.js")
script(src="/vendors/simditor-2.3.6/scripts/hotkeys.js")
script(src="/vendors/simditor-2.3.6/scripts/uploader.js")

script(src="/vendors/simditor-2.3.6/scripts/simditor.js")
script(src="/vendors/simditor-markdown/lib/simditor-markdown.js")
