.container
  .footer
    .footer-wrapper
      hr
      p 
        | &copy; · 2017 · &nbsp;
        a(href="https://springblog.herokuapp.com") brian
        |  ·

        if viewHelper != null
          span  #{viewHelper.getResponseTime()}ms
       
