.container
  .footer
    .footer-wrapper
      hr
      p 
        | &copy; · 2017 · &nbsp;
        a(href="http://bvn13.tk") bvn13
        |  ·

        if viewHelper != null
          span  #{viewHelper.getResponseTime()}ms
       
