server:
    port: 8001
    contextPath:

spring:
    profiles:
      active: dev

    thymeleaf:
      cache: false

    jade4j:
      caching: false

    dataSource:
      driverClassName: org.postgresql.Driver
      url: jdbc:postgresql://localhost:5432/blog
      username: blog
      password: blogpass

    hibernate:
      dialect: org.hibernate.dialect.PostgreSQLDialect
      hbm2ddl.auto: update
      show_sql: true
      use_sql_comments: true
      format_sql: true

    redis:
      host: localhost
      port: 6379
      default_expire_time: 86400


    session:
      store-type: redis

    http:
      multipart:
        max-file-size: 100Mb
        max-request-size: 100Mb

