.posts-list

  for post in posts
    .post-item
      a(href="/posts/#{post.getPermalink().length() > 0 ? post.getPermalink() : post.getId()}")
        .condensed
          h3 #{post.getTitle()}
      include ../posts/fragments/socialReadonly
      .meta
        span #{viewHelper.getFormattedDate(post.getCreatedAt())}

include fragments/paginator