
img {
    border-radius: 10px;
}

.main-container {
    max-width: none;
}

.container {
    max-width: none;
}


.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 15px;
    font-family: none !important;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
    .header-title {
        padding: 0px;
    }
}

.my-font {
    /* use same as in theme */
    font-family: "Helvetica Neue", Helvetica, "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans !important;
}

.my-font h1,
.my-font h2,
.my-font h3,
.my-font h4,
.my-font h5,
.my-font h6 {
    margin-top: 1.5em;
    margin-bottom: .5em;
    text-rendering: optimizeLegibility;
    line-height: 1.2;
    word-spacing: -.05em;
    font-style: normal;
}

.condensed h1,
.condensed h2,
.condensed h3,
.condensed h4,
.condensed h5,
.condensed h6 {
    margin-top: .5em;
    margin-bottom: .5em;
    text-rendering: optimizeLegibility;
    line-height: 1.2;
    word-spacing: -.05em;
    font-style: normal;
}

.col-centered {
    margin: 0 auto;
    float: none;
}

.post {
    padding-top: 0px !important;
}

.markdown-body img {
    display: block;
    max-width: 100%;
    height: auto;
}

img.flip-vert {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

img.flip-hor {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

img.flip-both {
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

img.borderless {
    border: none;
    border-radius: 0px;
}

.sympathy {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
    top: 3px;
    position: relative;
}

.sympathy-block {
    padding-left: 10px;
    padding-right: 10px;
    /*border: grey 1px solid;*/
    /*border-radius: 2px;*/
}

.sympathy-button {
    cursor: pointer;
}

.youtube-embedded {
    border: none;
}

@media (max-width: 767px) {
    .youtube-embedded {
        width: 100%;
        /*height: auto;*/
    }
}

.posts-list h3 {
    font-size: 24px !important;
}